@using PruebaComceptoCrearDocumentos.Modelos
@using PruebaComceptoCrearDocumentos.Data
@inject NavigationManager navig

@page "/"

<PageTitle>Generar documento</PageTitle>

<form>
    <div>
    <EditForm Model="contratoElemens">

        <div class="form-group">
            <label>Espesificar contrato</label>
            <InputText @bind-Value="contratoElemens.ContratoEpesifico" class="form-control" />
        </div>
        <div class="form-group">
            <label>Nombre del representante de Egod</label>
            <InputText @bind-Value="contratoElemens.NameEgobRepresentante" class="form-control" />
        </div>
        <div class="form-group">
            <label>Nombre del cliente</label>
            <InputText @bind-Value="contratoElemens.NameCliente" class="form-control" />
        </div>
        <div class="form-group">
            <label>Nombre del Reprecentante del cliente</label>
            <InputText @bind-Value="contratoElemens.NameClienteRepresentante" class="form-control" />
        </div>
        <div class="form-group">
            <label>Puesto del Reprecentante del cliente</label>
            <InputText @bind-Value="contratoElemens.PuestoRepresentanteCliente" class="form-control" />
        </div>

        <input class="btn btn-primary" type="button" value="Generar documento" @onclick="Crear" />
        
    </EditForm>
   
    
</div>
</form>


@code{

    ContratoElemens contratoElemens = new ContratoElemens();
    GenerarDocumento Gen = new GenerarDocumento();

    public string NombreArchivo = null;

    private void Crear()
    {
        NombreArchivo = contratoElemens.NameCliente;
        Gen.CreateWordDocument(@"A:\Programas\programas de c#\Creacion de documentos en web\PruebaComceptoCrearDocumentos\PruebaComceptoCrearDocumentos\ContratoSivu-Plantilla.docx",
        @$"A:\Programas\programas de c#\Creacion de documentos en web\PruebaComceptoCrearDocumentos\PruebaComceptoCrearDocumentos\PDF\{NombreArchivo}",contratoElemens);

        navig.NavigateTo($"/download/{NombreArchivo}.pdf", true);

    }
}